body {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
display: grid;
gap: 0px 0px;
grid-template-columns: repeat(16, 5vw);
grid-template-rows: repeat(16, 5vh);
background-color: bisque;
width: max-content;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 0;

}

.buttons {
  display: flex;
  justify-content: center;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 0;
}

.etch {
  background-color: black;
}