

.container {
display: grid;
gap: 0px 0px;
grid-template-columns: repeat(16, 5vw);
grid-template-rows: repeat(16, 5vh);
background-color: bisque;
width: max-content;
border-top: 40px solid red;
border-right: 40px solid red;
border-bottom: 80px solid red;
border-left: 40px solid red;
border-radius: 40px;
}

.etch {
  background-color: black;
}