body {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
display: grid;
gap: 0px 0px;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: repeat(16, 1fr);
background-color: bisque;
width: 70vw;
height: 70vh;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 0;
border-radius: 10px;

}

.squares {
 height: auto; 
 width: 100%;
}
.buttons {
  display: flex;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 0;
}

.btn {
  background-color: white;
  border-radius: 10px;
  font-size: 3vw;
  font-family: 'Righteous';
}

.etch {
  background-color: black;
}

.clicked {
  background: rgb(197, 187, 187);
}